beautifulsoup4==4.6.3
dukpy==0.2.0
echarts-china-cities-pypkg==0.0.8
echarts-china-counties-pypkg==0.0.2
echarts-china-provinces-pypkg==0.0.2
echarts-countries-pypkg==0.1.4
echarts-united-kingdom-pypkg==0.0.1
future==0.16.0
javascripthon==0.10
Jinja2==2.10
jupyter-echarts-pypkg==0.1.2
lml==0.0.2
macropy3==1.1.0b2
MarkupSafe==1.0
numpy==1.15.0
pandas==0.23.4
Pillow==5.2.0
pyecharts==0.5.8
pyecharts-javascripthon==0.0.6
pyecharts-jupyter-installer==0.0.3
pyecharts-snapshot==0.1.7
python-dateutil==2.7.3
pytz==2018.5
selenium==3.14.0
six==1.11.0
urllib3==1.24.2
xlrd==1.1.0
